@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Space+Mono&display=swap');
body {
  background-color: #169f6f;
  color: white;
  font-family: "Nunito Sans";
}

a {
  color: lightgray;
}

pre, code, samp {
  font-family: "Space Mono";
}

.navbar {
  z-index: 1000;
}
